body {
    background-color: #f0f0f0;
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: #4a90e2;
}

.quote-section {

    background-color: #222222;

    color: white;

    text-align: center;

    padding: 2px;

    border-radius: 10px;
}
