body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: linear-gradient(to right, #4facfe, #00f2fe);

    color: white;
}

/* Header */
header {

    text-align: center;

    padding: 40px;

    background-color: rgba(0, 0, 0, 0.7);
}

/* Navigation */
nav {

    background-color: #222;

    padding: 15px;

    text-align: center;
}

nav a {

    color: white;

    text-decoration: none;

    margin: 0 15px;

    font-weight: bold;
}

nav a:hover {

    color: yellow;
}

/* Main */
main {

    padding: 30px;
}

section {

    background-color: rgba(255, 255, 255, 0.2);

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 15px;
}

/* Skills */
ul {

    list-style-type: square;
}

/* Portfolio */
img {

    width: 300px;

    border-radius: 10px;
}

/* Form */
form {

    display: flex;

    flex-direction: column;
}

input,
textarea {

    margin-top: 10px;

    padding: 12px;

    border: none;

    border-radius: 8px;
}

button {

    margin-top: 15px;

    padding: 12px;

    background-color: #222;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {

    background-color: #444;
}

/* Footer */
footer {

    background-color: #111;

    text-align: center;

    padding: 15px;
}
}
